* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

i {
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
  user-select: none;
}
